*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 24px;

  @include desctop-down {
    font-size: 18px;
  }

  @include phone {
		font-size: 14px;
	}
}

html,
body {
	height: 100%;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1em; /* 24px */
  line-height: 1.21em; /* 29px */
  font-weight: 400;
  font-style: normal;
  color: $black;
  background-color: $white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 1em;

  &--wide {
    max-width: 1400px;
  }
}

.d-flex {
  display: flex;
}

.indent-0 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: transparent;
  cursor: pointer;
}

svg path {
	fill:inherit;
	stroke:inherit;
}

///

.btn {
  height: fit-content;
  padding: 1.05em 2.17rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22; /* 22px */
  color: $white;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #460D09;
  background-image: linear-gradient(180deg, #F42C2B 0%, rgba(0, 0, 0, 0) 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @include phone {
    font-size: 16px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em; /* 36px */
  line-height: 1.222; /* 44px; */
  color: $text;
  text-align: center;
}

.pros {
  background-repeat: no-repeat;

  &__item {
    position: relative;
    align-items: center;
    margin-left: auto;
    color: $white;
    font-weight: 600;

    @include phone {
      font-size: 13px;
    }
  }
  
  &__check {
    position: relative;
    flex-shrink: 0;
    width: 3.92em; /* 94px */
    height: 3.085em;  /* 74px */
    background-image: url(../../img/icons/rectangle-for-check.png);
    background-repeat: no-repeat;

    @include desctop-down {
		  background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 9px;
      width: 2em; /* 48px */
      height: 1.73em; /* 41.47px */
      background-image: url(../../img/icons/check.svg);
      background-repeat: no-repeat;

      @include desctop-down {
        right: 13px;
        top: 1px;
        background-size: contain;
      }

      @include phone {
		    right: 7px;
      }
    }
  }
}