//Переменные ///////////////////////////////////////

$black: #000;
$white: #fff;
$dark: #1D0707;
$text: #140202;
$yellow: #F8C67D;
$red: #E02927;
$dark-red: #420707;


// Адаптив /// 
// @mixin phone {
//   @media (max-width: 400px) { @content; }
// }

@mixin phone {
  @media (max-width: 600px) { @content; }
}

@mixin tablet {
  @media (max-width: 900px) { @content; }
}

@mixin desctop-down {
  @media (max-width: 1200px) { @content; }
}

//Подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

.text {

	@include desctop-down {
		
	}

	@include tablet {
		
	}

	@include phone {
		
	}

}