.header {
  &__inner {
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 4.12em;
    text-align: center;
  }

  &__text {
    max-width: 61%;
    margin: 0;
    font-weight: 600;
  }
}
