.info {
  
  &__title {
    max-width: 60%;
    margin: 0 auto 1.44em; /* 51.84px */
    
    @include tablet {
      max-width: 100%;
    }
  }
  
  &__inner {
    position: relative;
    height: 365px;
     
    @include tablet {
		  display: flex;
      flex-direction: column-reverse;
      height: unset;
    }
  }

  &__content-wrapper {
    height: inherit;
  }

  &__content {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    padding: 1.8em 0 2.52em; /* 43.2px 0 60.48px */
    color: $text;

    @include tablet {
      max-width: 100%;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 1.2em; /* 28.8px */

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bg {
    --color: #F8C67D;
    --deg: 90deg;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 47%;
    background-image: 
        linear-gradient(var(--deg), var(--color) 2%, rgba(58, 58, 58, 0) 32%),
        var(--bg-url);
    background-repeat: no-repeat;
    background-position: 99% 0%, center 55%;

    @include tablet {
		  position: relative;
      left: 0;
      height: 365px;
      background-image: 
          linear-gradient(0deg, var(--color) 1%, rgba(58, 58, 58, 0) 45%),
          var(--bg-url);
      background-size: cover;
    }
  }
}
