.hero {
  padding: 0.835em 0 1.125em;  /* 20px 0  27px */
  background-color: $dark;

  &__inner {
  }

  &__title {
    max-width: 80%;
    margin-top: 0;
    margin-bottom: 0.9rem;
    font-weight: 700;
    font-size: 2.67em; /* 64px */
    line-height: 1.218; /* 78px */
    color: $white;

    &--beige {
      color: $yellow;
    }
  }

  &__heading {
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 3.34rem;
    font-size: 1.5em; /* 36px */
    line-height: 1.22; /* 44px */
    color: $white;
  }

  &__bottom {
    justify-content: space-between;
  }
  
  &__pros {
    margin-top: 12px;
    padding-right: 80px;
    background-image: url(../../img/bg/circles.png);
    background-repeat: no-repeat;
    background-position: 110% top;
  }

  &__list {
    margin-top: 15px;
  }
  
  &__list-item {
    position: relative;
    align-items: center;
    max-width: 280px;
    max-width: 11.8em;
    margin-left: auto;
    margin-bottom: 1.1em;
    color: $white;
    font-weight: 600;

    &--wide {
      max-width: 380px;
      max-width: 15.833em;
    }

    &:nth-child(1) {
      right: -166px;
    }

    &:nth-child(2) {
      right: -37px;
    }

    &:nth-child(3) {
      margin-bottom: 45px;
    }
    
    &:last-child {
      right: -38px;
      margin-bottom: 0;
    }
  }
  
  &__check {
    position: relative;
    flex-shrink: 0;
    width: 94px;
    height: 74px;
    margin-left: 25px;
    background-image: url(../../img/icons/rectangle-for-check.png);

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 9px;
      width:48px;
      height: 41.47px;
      background-image: url(../../img/icons/check.svg);
      background-repeat: no-repeat;
    }
  }

  &__img {
    
    margin-top: 27%;
    margin-left: 48px;
  }
}


