.info-harem {
  padding: 1.667em 0; /* 40px */
  background-image: url(../../img/bg/deco.png);
  background-repeat: no-repeat;
  background-position: -13% 0%;

  @include tablet {
    background-image: none;
  }

  &__bg {
    --bg-url: url(../../img/bg/bg-2.jpg);
    --color: #fff;
  }
}
