.info-official {
  background-color: $yellow;

  &__bg {
    --bg-url: url(../../img/bg/official-bg.jpg);
    --deg: 270deg;

    right: 48%;
    left: 0;
  }

  &__content {
    margin-left: auto;
  }
}
